<h1>This is your appointment details</h1>

<%= link_to @appointment.doctor.name, @appointment.doctor%>
<%= link_to @appointment.patient.name, @appointment.patient%>
<p>Your appointment is at <%=@appointment.appointment_datetime.strftime("%B %d, %Y at%H:%M")%></p>
